.script-nui-dialog {
    /* --- CSS Variables --- */
    --background-color-primary: var(--script-nui-components-dialog-background-color--primary, #042C53);
    --background-color-warning: var(--script-nui-components-dialog-background-color--warning, #412402);
    --background-color-danger: var(--script-nui-components-dialog-background-color--danger, #501313);
    --background-color-regular: var(--script-nui-components-dialog-background-color--regular, #2C2C2A);
    --dialog-border-radius: var(--script-nui-components-dialog-border-radius, 10px);
    --dialog-font-size: var(--script-nui-components-dialog-font-size, 0.85rem);
    --dialog-font: var(--script-nui-components-dialog-font, system-ui, -apple-system, sans-serif);

    --dialog-text-color: var(--script-nui-components-dialog-color, #c9d1d9);
    --dialog-header-color: var(--script-nui-components-dialog-header-color, #e6edf3);
    --dialog-footer-color: var(--script-nui-components-dialog-footer-color, #8b949e);

    --dialog-body-background: var(--script-nui-components-dialog-cell-background, rgb(30, 30, 30));
    --dialog-header-background: var(--script-nui-components-dialog-header-background, var(--dialog-body-background));
    --dialog-footer-background: var(--script-nui-components-dialog-footer-background, var(--dialog-body-background));

    --dialog-border-color: var(--script-nui-components-dialog-border-color, #444444);
    --dialog-box-shadow: var(--script-nui-components-dialog-box-shadow, 0 2px 10px rgba(0, 0, 0, 0.5));

    & .script-nui-dialog-header {
        background: var(--dialog-header-background);
        color: var(--dialog-header-color);
        padding: 1em;
        border-bottom: 1px solid var(--dialog-border-color);

        &.regular {
            background: var(--background-color-regular);
        }

        &.primary {
            background: var(--background-color-primary);
        }

        &.warning {
            background: var(--background-color-warning);
        }

        &.danger {
            background: var(--background-color-danger);
        }
    }

    & .script-nui-dialog-body {
        background: var(--dialog-body-background);
        color: var(--dialog-text-color);
        padding: 1em;
        overflow: auto;
        max-height: 80vh;
    }

    & .script-nui-dialog-footer {
        background: var(--dialog-footer-background);
        color: var(--dialog-footer-color);
        padding: 1em;
        border-top: 1px solid var(--dialog-border-color);
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        width: 100%;
        gap: 10px;

        &>button {
            max-width: 12em;
            min-width: 6em;
        }
    }

    &[open] {
        display: flex;
    }

    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    background-color: var(--dialog-body-background);
    color: var(--dialog-text-color);
    border: 1px solid var(--dialog-border-color);
    border-radius: var(--dialog-border-radius);
    box-shadow: var(--dialog-box-shadow);
    flex-direction: column;
    min-width: 300px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    z-index: 1000;
    padding: 0;
}