.script-nui-dropdown-menu {
    --arrow-opacity: var(--script-nui-dropdown-menu-arrow-opacity, 0.65);
    --arrow-opacity-hover: var(--script-nui-dropdown-menu-arrow-opacity-hover, 1);
    --arrow-size: var(--script-nui-dropdown-menu-arrow-size, 0.32em);
    --arrow-transition: var(--script-nui-dropdown-menu-arrow-transition, 150ms ease);
    --arrow-color: var(--script-nui-dropdown-menu-arrow-color, currentColor);
    --border-color: var(--script-nui-dropdown-menu-inside-border-color, currentColor);

    position: relative;
    display: inline-flex;

    padding: 0 !important;
    gap: 0 !important;

    &>span {
        padding: 8px 16px;
    }

    &>svg {
        box-sizing: content-box;
        padding: 8px 8px;
        fill: var(--arrow-color);
        display: inline-block;
        width: 16px;
        height: 16px;
        opacity: var(--arrow-opacity);
        flex-shrink: 0;
        transition: opacity var(--arrow-transition);
        border-left: 1px solid var(--border-color);
    }

    &:hover>svg {
        opacity: var(--arrow-opacity-hover);
    }
}